# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
.DS_STORE
/build
/gradlew
/gradle
/gradlew.bat
/gradle.properties
